astroid==2.4.2
bleach==3.2.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
docutils==0.16
idna==2.10
isort==5.5.3
keyring==21.4.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
packaging==20.4
pkginfo==1.5.0.1
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.14.0
pywin32-ctypes==0.2.0
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
toml==0.10.1
tqdm==4.50.0
twine==3.2.0
urllib3==1.25.10
webencodings==0.5.1
wrapt==1.12.1
